<div class="row">
  <div class="col-md-4">
    <h3 class="text-center">
      Books
      <%= link_to "New Book", new_book_path, class: "btn btn-primary btn-sm pull-right" %>
    </h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
          <th class="text-center">Available?</th>
        </tr>
      </thead>
      <tbody>
        <% @offered_books.each do |book| %>
        <tr>
          <th><%= book.id %></th>
          <td><%= link_to book.name, book_path(book) %></td>
          <td><%= link_to "Edit", edit_book_path(book)%></td>
          <td class="text-center">
            <% if book.availability %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">
      Purchased
    </h3>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">
      Sales
    </h3>
  </div>
</div>
